part-1/cadastro-pessoas/node_modules/
part-1/cadastro-pessoas/dist/
part-2/porque-utilizar/node_modules/
part-2/instalacao/node_modules
part-2/diferencas/node_modules
part-2/porque-utilizar/Plugins_Chai.js/node_modules/
part-2/porque-utilizar/mais-exemplos/node_modules/
part-2/porque-utilizar/Plugins_Chai.js/yarn-error.log
part-2/instalacao/yarn-error.log