<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Calculadora</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      input {
        width: 100%;
        height: 5vh;
        padding-right: 10px;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2ch;
      }
      table {
        table-layout: fixed;
      }
    </style>
  </head>
  <body>
    <div class="mt-5 container text-center">
      <div class="card rounded">
        <div class="card-body">
          <h1 class="mb-4">Calculadora</h1>
          <input type="text" class="input" id="resultado" value="0" disabled />
          <input type="hidden" name="tipo" id="tipo" />

          <div style="display: none;" id="bloco_resultado">
            <div class="row mt-3">
              <div class="col-12">
                <h5>Resultado: <span id="exibir_resultado"></span> </h5>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <table class="table table-sm table-borderless">
            <tr>
              <td>
                <button class="btn btn-warning btn-lg" onclick="c()">C</button>
              </td>
              <td>
                <button class="btn btn-warning btn-lg" onclick="ce()">
                  CE
                </button>
              </td>
            </tr>

            <tr>
              <td>
                <button
                  class="btn btn-lg btn-light btn-block"
                  onclick='digitado("7")'
                >
                  7
                </button>
              </td>
              <td>
                <button
                  class="btn btn-lg btn-light btn-block"
                  onclick='digitado("8")'
                >
                  8
                </button>
              </td>
              <td>
                <button
                  class="btn btn-lg btn-light btn-block"
                  onclick='digitado("9")'
                >
                  9
                </button>
              </td>
              <td>
                <button
                  class="btn btn-warning btn-lg btn-block"
                  onclick='digitado("/", "divisao")'
                >
                  /
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <button
                  class="btn btn-lg btn-light btn-block"
                  onclick='digitado("4")'
                >
                  4
                </button>
              </td>
              <td>
                <button
                  class="btn btn-lg btn-light btn-block"
                  onclick='digitado("5")'
                >
                  5
                </button>
              </td>
              <td>
                <button
                  class="btn btn-lg btn-light btn-block"
                  onclick='digitado("6")'
                >
                  6
                </button>
              </td>
              <td>
                <button
                  class="btn btn-warning btn-lg btn-block"
                  onclick='digitado("*", "multiplicacao")'
                >
                  *
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <button
                  class="btn btn-lg btn-light btn-block"
                  onclick='digitado("1")'
                >
                  1
                </button>
              </td>
              <td>
                <button
                  class="btn btn-lg btn-light btn-block"
                  onclick='digitado("2")'
                >
                  2
                </button>
              </td>
              <td>
                <button
                  class="btn btn-lg btn-light btn-block"
                  onclick='digitado("3")'
                >
                  3
                </button>
              </td>
              <td>
                <button
                  class="btn btn-warning btn-lg btn-block"
                  onclick='digitado("-", "subtracao")'
                >
                  -
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button
                  class="btn btn-lg btn-light btn-block"
                  onclick='digitado("0")'
                >
                  0
                </button>
              </td>
              <td>
                <button
                  class="btn btn-lg btn-primary btn-block"
                  onclick='executarResultado("=")'
                >
                  =
                </button>
              </td>
              <td>
                <button
                  class="btn btn-warning btn-lg btn-block"
                  onclick='digitado("+", "soma")'
                >
                  +
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script>
      let resultado = $('#resultado');
      let inputExpressao = $('#tipo');
      let expressaoValor = '';
      let arr = [];
      let executado = false;

      const digitado = (valor, expressaoParam = null) => {
        resultado.attr('value', (expressaoValor = expressaoValor + valor));
        expressao(expressaoParam);

        if (executado) {
          c();
          executado = false;
          resultado.attr('value', (expressaoValor = expressaoValor + valor));
        }
      };

      const ce = () => {
        let ultimoDigito = resultado
          .val()
          .substr(0, resultado.val().length - 1);

        resultado.attr('value', ultimoDigito);
        expressaoValor = ultimoDigito;
      };
      const c = () => {
        resultado.attr('value', '');
        expressaoValor = '';
      };

      const expressao = expressao => {
        if (expressao != null) {
          inputExpressao.attr('value', expressao);
        }
      };

      const tipoExpressa = tipo => {
        let tipoRetornado;
        switch (tipo) {
          case 'subtracao':
            tipoRetornado = '-';
            break;
          case 'soma':
            tipoRetornado = '+';
            break;
          case 'multiplicacao':
            tipoRetornado = '*';
            break;
          case 'divisao':
            tipoRetornado = '/';
            break;
        }
        return tipoRetornado;
      };

      const executarResultado = () => {
        try {
          let dadosArray = resultado
            .val()
            .split(tipoExpressa(inputExpressao.val()));
          executado = true;

          $.ajax({
            url: '/realizarexpressao',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
              dados: dadosArray,
              expressao: inputExpressao.val(),
            }),
            processData: false,
            success: function(data, textStatus, jQxhr) {
              $("#bloco_resultado").show();
              $("#exibir_resultado").html(data.resultado);
            },
            error: function(jqXhr, textStatus, errorThrown) {
              $("#bloco_resultado").show();
              $("#exibir_resultado").html("Infelizmente não foi possível realizar o cálculo");
              console.log(errorThrown);
            },
          });
        } catch (error) {
          resultado.attr('value', 'erro ao tentar realizar a expressão');
        }
      };
    </script>
  </body>
</html>
